{% extends "base.html" %}
{% block content %}
     <h1>Projects</h1>

     <p>
        <a href="{{ url_for('main.project_create') }}">Create New Project</a><br>
        <a href="{{url_for('main.dashboard')}}">Back to Dashboard</a>
     </p>

     {% if projects %}
            <ul>
                {% for project in projects %}
                    <li>
                        <a href="{{url_for('main.project_issues',project_id=project.id)}}">
                        <strong>{{ project.name }} </strong>
                        </a><br>
                        {{ project.description or "No description provided." }}
                        <br>
                        <small>Owner: {{ project.owner.username}} | Created: {{ project.created_at }}</small>
                    </li>
                {% endfor %}
            </ul>
    {% else %}
        <p>No projects yet.</p>
    {% endif %}
{% endblock %}